.photo {
  margin: 0px 10px 20px;
  background: #fff;
  padding: 5px;
  position: relative;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.photo:hover {
  top: -3px;
}
