.book_title {
    display: grid;
    grid-template-columns: 500px 1fr;
  }

.UBSRow{
    display: flex; 
    justify-content: center; 
    margin-bottom: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 120px;
    margin-left: 120px;

}

.UBSColumn1{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.UBSColumn2{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.UBSv1Cover{
    border: 1px solid black; 
    max-width: 100px; margin: 
    auto; margin-bottom: 1em;
}


.UBSv2Cover{
    border: 1px solid black; 
    max-width: 100px; margin: auto; 
    margin-bottom: 1em;
}

.UBSv1Button{
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    border-radius: 6px;
    border-width: 0.1px;
    border-color: #c0bfbf;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    height: 30px;
    align-items: center;
    width: 305px;
}

.UBSv2Button{
    display: inline-block;
    padding: 4px 8px;
    margin-bottom: 0;
    left: 0;
    font-size: 14px;
    border-radius: 6px;
    border-width: 0.1px;
    border-color: #c0bfbf;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    height: 30px;
    width: 300px;
}

.UBSv1Text{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Muli', Arial;
    color:rgb(102, 102, 102);
    font-size: 16px;  
    width: 800px;  
    margin-bottom: 50px;
}

.UBSv2CoverBig{
    border: 1px solid black; 
    height: 514.84px;
    width: 351.33px;
    margin: auto; 
    margin-bottom: 1em;
    float: left;
    margin-right: 70px; 
}

.UBSv2CoverBigCol{
    width: 400px;
}

.UBSDescription{
    text-align: left;
    width: 80%;
}

ul li::marker {
    unicode-bidi: isolate;
    font-size: 16px;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

a{
    color: #af0a09;
    text-decoration: none;
}

.aboutAuthor{
    margin-left: 60px;
    margin-bottom: 50px;
}