.nav-filter{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
}
.nav-filter li{
    padding: 0 10px;
    border-right: 1px solid #bbb;
    float: left;
    position: relative;
    list-style: none;
    color: #666;
    font-size: 18px;
    font-family: Times New Roman, Times, Serif;
    cursor: pointer;
}

.nav-filter li:last-child{
    border-right: none;
}
.nav-filter li:focus{
    color: rgb(175, 10, 9);
    font-size: 26px;
}

.inductees-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title-style a{
    color: #666;
}
.title-style a:focus{
    color: #666;
}

.nav-between{
    @media (max-width: 1024px){
        justify-content: space-between;
    }
}
.tbox{
    float: left;
    margin: 10px;
    background: #fff;
    padding: 8px;
    position: relative;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.animation {
    animation-duration: 50000ms;
}

.leaving {
    animation-name: animation--leave;
    animation-duration: 50000ms;
}

.entering {
    animation-name: animation--enter;
    animation-duration: 50000ms;
}

@keyframes animation--leave {
    0% { scale: 100%; }
    100% { scale: 0%; }
}

@keyframes animation--enter {
    0% { scale: 0%; }
    100% { scale: 100%; }
}

.fadeEnter {
    scale: 0.01;
}

.fadeEnterActive {
    scale: 1;
    transition: scale 500ms ease-in;
}

.fadeExit {
    scale: 1;
}

.fadeExitActive {
    scale: 0.01;
    transition: scale 500ms ease-out;
}