.heading{
    font-size: 16px;
    color: #666;
    line-height: 24px;
    font-family: 'Muli', Arial;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    -webkit-font-smoothing: antialiased !important;
}
.nav-filter{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
}
.nav-filter li{
    padding: 0 10px;
    border-right: 1px solid #bbb;
    float: left;
    position: relative;
    list-style: none;
    color: #666;
    font-size: 18px;
    font-family: Times New Roman, Times, Serif;
    cursor: pointer;
}

.nav-filter li:last-child{
    border-right: none;
}
.nav-filter li:focus{
    color: rgb(175, 10, 9);
    font-size: 26px;
}

.inductees-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.title-style a{
    color: #666;
}
.title-style a:focus{
    color: #666;
}

.nav-between{
    @media (max-width: 1024px){
        justify-content: space-between;
    }
}
.videoList{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.videoList li {
    justify-content: center;

    @media (min-width: 768px){
        width: 50%;
    }
}

ul {
    padding: 0;
}
