.inductee-card {
    position: relative;
    height: 200px; /* Adjust the height as needed */
    width: 200px;
    background-size: cover;
    background-position: center;
    margin: 10px;
    padding: 8px;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.image-container {
    position: relative;
}