.title{
    font-weight: 100;
    color: #666;
    font-size: 28px;
    border-bottom: 1px solid #bbb;
}

.aincImage{
    height: 60px;
    width: 53.6px;
    right: 80%;
    padding-right: 10px;
}

.founderImage{
    height: 60px;
    width: 60px;
    right: 90%
}