@import "../../styles/variables.scss";

.title {
  font-weight: 700;
  color: $brand-color;
  font-size: 28px;
  border-bottom: 1px solid #bbb;

  a {
    color: inherit;
  }
}

.aincImage {
  height: 60px;
  width: 53.6px;
  align-items: right;
  padding-right: 10px;
}

.founderImage {
  height: 60px;
  width: 60px;
  align-items: right;
}
