.aincImage{
    left: 75%;
}

.founderImage{
    left: 75%;
    margin-left: 20px;
}

.UBSColumn{
    display: flex; flex-direction: column; justify-content: center;
}

.UBSv1{
    border: 1px solid black; max-width: 100px; margin: auto; margin-bottom: 1em;
}

.UBSv2{

}