.aincImage{
    left: 75%;
}

.founderImage{
    left: 75%;
    margin-left: 20px;
}

.UBSRow{
    display: flex; 
    justify-content: center; 
    margin-bottom: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.UBSColumn{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-content: center;
}

.UBSv1Cover{
    border: 1px solid black; 
    max-width: 100px; margin: 
    auto; margin-bottom: 1em;
    left: 20%;
}

.UBSv2Cover{
    border: 1px solid black; 
    max-width: 100px; margin: auto; 
    margin-bottom: 1em;
    right: 23%;
}

.UBSv1Button{
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    border-radius: 6px;
    border-width: 0.1px;
    border-color: #c0bfbf;
    line-height: 20px;
    margin-left: 250px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    height: 30px;
    align-items: right;
    width: 305px;
}

.UBSv2Button{
    display: inline-block;
    padding: 4px 8px;
    margin-bottom: 0;
    left: 0;
    font-size: 14px;
    border-radius: 6px;
    border-width: 0.1px;
    border-color: #c0bfbf;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    height: 30px;
    width: 300px;
    margin-left:10px;
}

.UBSv1Text{
    text-align: center;
    justify-content: center;
}

Body{
    font-family: 'Muli', Arial;
    color:rgb(102, 102, 102);
    font-size: 16px;
    line-height: .7;
}

.UBSColumnText{
    margin-bottom: 50px;
}

.UBSv2CoverBig{
    border: 1px solid black; 
    height: 514.84px;
    width: 351.33px;
    margin: auto; 
    margin-bottom: 1em;
    margin-left: 50px;
}