.aincImage{
    left: 75%;
}

.founderImage{
    left: 75%;
    margin-left: 20px;
}

.UBSRow{
    display: flex; 
    justify-content: center; 
    margin-bottom: 1em;
}

.UBSColumn{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.UBSv1Cover{
    border: 1px solid black; 
    max-width: 100px; margin: 
    auto; margin-bottom: 1em;
    left: 20%;
}

.UBSv2Cover{
    border: 1px solid black; 
    max-width: 100px; margin: auto; 
    margin-bottom: 1em;
    right: 20%;
}

.UBSv1Button{

}