@import url('https://fonts.googleapis.com/css?family=Muli');

body {
    font-family: 'Muli', Arial, sans-serif;
    background: #e6e6e6;
    line-height: 24px;
    color: #666;
}

h4 {
    font-size: 18px;
    font-weight: 200;
}

.recentHeader {
    display: flex;
    margin-right: 60px;
    margin-top: 20px;
    padding-bottom: 70px;

}


.thumbnail {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    border: 8px solid white;
    max-width: 100%;
}

a {
    color: rgb(175, 10, 9);
    text-decoration: none;
}

p {
    font-size: 16px;
}

.ceremonyVideos {
    list-style-type: none;
    padding-left: 0 !important;
}

.pressContent h4, .pressContent p {
    margin-top: 5px !important;
    font-family: 'Muli';
    line-height: 26px;
}

.yearHeader {
    padding-top: 20px !important;
    margin-top: 0px !important;
}

.videoLink {
    position: relative;
    text-align: center;
    margin-top: -6px;
    margin-bottom: 10px;
}

.videoText {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);    
}

.play {
    top: 45px;
    left: 90px;
    text-align: center;
    display: block;
}

.videoLink:hover .videoText{
    color: rgba(255, 255, 255, 0.8);
}