body {
    font-family: 'Muli', Arial, sans-serif;
    background: #e6e6e6;
    line-height: 24px;
    color: #666;
}

.podcastHeader {
    display: flex;
    margin: 40px;
    margin-top: 20px;
    margin-left: 80px;
    padding-bottom: 77px;
}

.recentHeader {
    display: flex;
    margin-right: 60px;
    margin-top: 20px;
    padding-bottom: 70px;

}

.awesomeLogo {
    margin: 0px;
    width: 45px;
    height: 50px;
 
}

.founderLogo {
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.logos {

    margin-left: 50%;
}
.podcastVideo {
    height: 340px;
    width: 760px;
    margin-left: 80px;
}

.thumbnail {
    width: 350px;
    height: 197px;
    padding: 8px;
    background-clip: border-box;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

}

.mediaInfo {
    margin-left: 100px;
    margin-right: 80px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 0 !important;
}

a {
    color: rgb(175, 10, 9);
    text-decoration: none;
}

.ceremonyVideos {
    list-style-type: none;
}

p {
    font-size: 16px;
}

.iconPlayCircle {
    content: url('../../images/founders_logo_white_smallest.png');
}

.pressContent {
    margin-left: 80px;
}