@import url('https://fonts.googleapis.com/css?family=Muli');

body {
    font-family: 'Muli', Arial, sans-serif;
    background: #e6e6e6;
    line-height: 24px;
    color: #666;
}

h4 {
    font-size: 18px;
    font-weight: 200;
}

.podcastHeader {
    display: flex;
    margin: 40px;
    margin-top: 20px;
    margin-left: 100px;
    padding-bottom: 77px;
}

.recentHeader {
    display: flex;
    margin-right: 60px;
    margin-top: 20px;
    padding-bottom: 70px;

}

.pressHeader {
    display: flex;
    margin-right: 40px;
    margin-top: 20px;
    margin-left: 100px;
    padding-bottom: 77px;
}

.awesomeLogo {
    margin: 0px;
    width: 45px;
    height: 50px;
 
}

.founderLogo {
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.logos {
    margin-left: 50%;
}
.podcastVideo {
    width: 760px;
    height: 340px;
    margin-left: 100px;
}

.thumbnail {
    width: 350px;
    height: 197px;
    padding: 8px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    border: 8px solid white;
    max-width: 100%;

}

.mediaInfo {
    margin-left: 100px;
    margin-right: 80px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 0 !important;
}

a {
    color: rgb(175, 10, 9);
    text-decoration: none;
}

.ceremonyVideos {
    list-style-type: none;
}

p {
    font-size: 16px;
}

.iconPlayCircle {
    content: url('../../images/founders_logo_white_smallest.png');
    position: relative;
    opacity: 30%;
}

.pressContent {
    margin-left: 100px;
}

.pressContent h4, .pressContent p {
    margin-top: 5px !important;
    margin-left: 20px;
    font-family: 'Muli';
    line-height: 26px;
}

.yearHeader {
    padding-top: 20px !important;
    margin-top: 0px !important;
}

.videoLink {
    position: relative;
    text-align: center;
    margin-top: -8px;
    margin-bottom: 10px;
}

.videoText {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);    
}

.play {
    top: 45px;
    left: 90px;
    text-align: center;
    position: absolute;
    display: block;
}

.videoLink:hover .videoText{
    color: rgba(255, 255, 255, 0.8);
}