GATSBY_SANITY_PROJECT_ID=process.env.SANITY_STUDIO_API_PROJECT_ID
GATSBY_SANITY_DATASET="production"

# Copy this file to .env.development for local development.
# Note: After copying DO NOT commit this file to git!
SANITY_READ_TOKEN="skezyflAv9LwyeN1R7cdEwjAQSgMdEsARUCawx62V814EuYuYZriRrHjq5RsRA9LdxdYYV3WlK1tq5Jaw5qymWb2MvIIW3i8bLWjTqGbVoaW6bKPsJPFlVGKOcrpweUCLjY4FSPcDKIR3cGdJJvGtykjVm6E3aKvaNixgEszbO47vUyAYdq8"