.title{
    line-height: normal;
    font-size: 22px;
    font-weight: 100;
    color: #666;
    margin: 5px 0;
    font-family: Times New Roman, Times, Serif;
    text-rendering: optimizelegibility;
}
.image-container {
    position: relative;
}
.box{
    width: 50%;
    align-items: center;
    justify-content: center;
}