.title{
    line-height: normal;
    font-size: 22px;
    font-weight: 100;
    color: #666;
    margin: 5px 0;
    font-family: Times New Roman, Times, Serif;
    text-rendering: optimizelegibility;
    align-self: flex-start; // Align the title text to the left
    margin-left: 5%;
    @media (min-width: 1200px){
      margin-left: 15%; // Align to the left of the image
    }
    height: 45px;
}
.image-container {
    position: relative;
}
.box {
  width: 100%;
  align-items: center;
}

@media (max-width: 767px) {
  .box {
      width: 100%;
  }
}
.imageWrapper {
    position: relative;
    display: inline-block;
  }
.playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    transition: opacity 0.3s;
    width: 100px;
    height: auto;
  }
  .imageWrapper:hover .playButton {
    opacity: 1;
  }