.header{
    background: #af0a0a;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(175, 10, 10);
}

.nav li:hover{
    border-top: 4px solid transparent;
}